body{
        
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
    }
        .a10{
            margin-top: 80px;
        }        
        .a5{
            margin-top: 0px;
        }